@import url(style.css);

/* laptop - ноутбук или большой планшет*/
@media screen and (max-width: 1100px) {
    header {
        padding: 16px;
        width: calc(100vw - 32px);
    }

    .container {
        padding: 0 16px;
    }

    #seans, #about, #price, #contacts {
        padding: 50px 0 0;
    }

    .section-title {
        margin-bottom: 50px;
    }

    .title-small, .title-big, .seans-title-big {
        height: 400px;
    }

    .seans-title-small {
        height: 48%;
    }

    #contacts .flex-row {
        align-items: stretch;
    }
}

/* tablet - от 800 до 500 px */
@media screen and (max-width: 800px) {
    header nav.flex-row {
        display: none;
    }

    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4, h5 {
        font-size: 16px;
    }    
    
    .seans-title-small h3, .seans-title-big h3 {
        padding: 16px;
        line-height: 20px;
    }

    #about p:last-child {
        display: none;
    }

    #contacts .flex-row {
        flex-direction: column;
    }

    #contacts .location-block {
        flex-direction: row;
    }

    #contacts .location-block .location {
        width: 48%;
        padding: 16px;
    }

    #contacts .flex-row div:first-child:not(.location) {
        width: 100%;
        aspect-ratio: 2 / 1;
        margin-bottom: 20px;
    }
} 

/*mobile - от 550px */
@media screen and (max-width: 550px) {
    .section-title {
        width: 90%;
    }

    .cover img, #price .flex-row div:last-child img, #contacts .flex-row div:first-child:not(.location) img {
        display: none;
    }

    #price h4 {
        display: none;
    }

    #main {
        padding-top: 50%;
    }

    #main h1 {
        font-size: 26px;
    }

    #seans .flex-row:not(.section-title) {
        flex-direction: column;

    }

    .title-big, .title-small {
        width: 100%;
    }

    .seans-title-small, .title-big {
        height: 140px;
    }
}